* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --font-family-heading: "Staatliches", sans-serif;
  --font-family-text: "Roboto", sans-serif;
  --font-family-footer: "Open Sans", sans-serif;

  --font-size-h1: 4rem;
  --font-size-text: 1.6rem;

  --font-color-text: #ffffff;
  --font-color-footer: #4a4e69;
  --background-card: #ffffff;
  --backgroud-primary: #e5e5e5;
  --background-color-header: #8e9aaf;
}

body {
  background: var(--backgroud-primary);
}

body::before {
  content: "";
  max-width: 37.7rem;
  height: 28rem;

  background: #8e9aaf;

  top: 0;
  left: 0;
  z-index: -1;
}

.page {
  max-width: 128rem;
  display: grid;
  grid-template-columns: 37.7rem 90rem;
  max-height: 72rem;
  margin: 0 auto;
}

header {
  width: 37.7rem;
  height: 72rem;
  padding-top: 3.2rem;
  background-color: var(--background-color-header);
}

.logo img {
  display: flex;
  justify-content: space-around;

  width: 21.4rem;
  height: 16.7rem;

  margin: auto;
}

header .title {
  max-width: 100%;
  margin-top: 3.2rem;
  background: #cbc0d3;
}

header .title h1 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-h1);
  color: var(--font-color-text);
  font-weight: 400;
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  padding-top: 0.8rem;
  padding-bottom: 0.7rem;

  display: flex;
  justify-content: space-around;
}

header p {
  font-family: var(--font-family-text);
  font-size: var(--font-size-text);
  color: var(--font-color-text);
  height: 26.2rem;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 3.2rem 4.8rem 0 5.4rem;
  width: fit-content;
}

main {
  max-width: 90.1rem;
  background: var(--background-card);
  height: 72rem;

  display: grid;
  grid-template-columns: 22rem 22rem 22rem;
  gap: 3.2rem;
  padding-top: 6.4rem;
  padding-left: 9.8rem;
  padding-right: 8.1rem;
}

.box-01 {
  display: grid;
  align-content: space-between;
}

.box-02 {
  display: grid;
  align-content: space-between;
}

.box-03 {
  display: grid;
  align-content: space-between;
}

.box-01 .box-02 .box-03 img {
  animation-name: downtop;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
}

main .card {
  background-color: var(--background-card);

  animation-name: topdown;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

main .card .retangle-220x150 img {
  border-radius: 20px;
  width: 22rem;
  height: 15rem;
  object-fit: cover;
}

main .card .retangle-220x350 img {
  border-radius: 20px;
  width: 22rem;
  height: 35rem;
  object-fit: cover;
}

footer {
  font-family: var(--font-family-footer);
  font-size: 1.4rem;
  color: var(--font-color-footer);

  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  justify-content: center;
}

.contact {
  display: flex;
  justify-items: center;
}

footer a {
  text-decoration: none;
  color: var(--font-color-footer);
}

footer a:hover {
  font-weight: bold;
  color: var(--font-color-footer);
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*a partir de 500px a tela será alterada*/
@media (min-width: 500px) {
  .page {
    max-width: 128rem;
  }
  :root {
    --font-size-h1: 4rem;
  }

  .main {
    max-width: 80rem;
    max-height: 72rem;
  }

  .retangle-220x150 {
    max-width: 22rem;
    max-height: 15rem;
  }

  .retangle-220x350 {
    width: 22rem;
    height: 35rem;
  }

  main {
    width: 90.5rem;
    background: var(--background-card);
    height: 72rem;

    display: grid;
    grid-template-columns: 22rem 22rem 22rem;
    gap: 3.2rem;
  }
}
