* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fontFamily-page: 'Mulish', sans-serif;

  --fontSize-pageText: 1.6rem;
  --fontSize-headerText: 2.0rem;
  --fontSize-h1: 3.2rem;
  --fontSize-h2: 3.0rem;
  --fontSize-subtitle: 3.0rem;

  --fontColor-heading:#B52184;
  --fontColor-text: #312D64;
 
  font-size: 62.5%;  

  background: black;
}

body {
 max-width: 430px;
 margin: 0rem auto;  
 
 animation-name: topdown;
 animation-duration: 700ms; 
}

header {
 height: 67.9rem;

 background: #F9F4FB; 
}

.astronaut {
  margin: 0 1.7rem 1.7rem 3.7rem;  
}

h1{
  font-family: var(--fontFamily-page);
  font-size: var(--fontSize-h1);
  font-weight: 900;
  color: var(--fontColor-heading);
}

.headerText, p {
  font-family: var(--fontFamily-page);
  font-size: var(--fontSize-headerText);
  color: var(--fontColor-text);
  font-weight: 600;
}

.headerText {
  display: grid;
  justify-items: center; 
}

.arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.5rem;
  /* margin-bottom: 9rem; */
}

.page-2 {  
  background-color: #312D64;
  max-width: 100%;
  padding: 5rem 4rem 5rem 4rem; 

  display: block;  
}

.naopare {
  margin: 0rem 0rem 5.0rem;
  padding: 2.6rem;
  
  background: #FFFFFF;
  box-shadow: 0px 3.31077px 13.2431px rgba(0, 0, 0, 0.25);
  border-radius: 19.8646px;   
} 

.sovolta {
  padding: 2.6rem;
  margin: 0rem 0rem 5.0rem 0rem;
  
  background: #FFFFFF;
  box-shadow: 0px 3.31077px 13.2431px rgba(0, 0, 0, 0.25);
  border-radius: 19.8646px;
}

.sigaseuritmo {
  padding: 2.6rem;
  margin: 0rem 0rem 5.0rem;
  
  background: #FFFFFF;
  box-shadow: 0px 3.31077px 13.2431px rgba(0, 0, 0, 0.25);
  border-radius: 19.8646px;
}

.sectionText {
  font-size: var(--fontSize-h2);
  color: var(--fontColor-heading);
  font-family: var(--fontFamily-page);
  font-weight: 900;
  margin-bottom: 2rem;
}

.text {
  font-family: var(--fontFamily-page);
  color: var(--fontColor-text);
  font-size: var(--fontSize-pageText);

  margin-right: 5.8rem;
}

 #yellowmoon  { 
  width: 8.1rem;
  margin-bottom: 2.6rem;

}

.bluemoon, .pinkmoon {  
 margin-bottom: 2.6rem;
}

.page-3 {
  background-color: #F9F4FB;
  height: 56.5rem;  

  padding-top: 8rem;

  display: flex;
  flex-direction: column;
  align-items: center;   
}

.background-image {
  display: none;
}

.entre-em-contato {
  font-family: var(--fontFamily-page);
  font-size: var(--fontSize-h1);
  color: var(--fontColor-heading);
  
  margin-bottom: 4.3rem;
  
}

#my-form {
 display: flex;
 flex-direction: column;  
}

#seunome, #email, #digite-mensagem { 
  font-family: var(--fontFamily-page);
  font-size: var(--fontSize-h1);
  color: var(--fontColor-heading); 
  background-color: #F9F4FB;

  border: 1.5px solid #312D64;
  border-radius: 16px;
  border: none;

  width: 35rem;
  display: flex;
  margin-bottom: 24px;   
}

.form-digite-seu-nome img, .form-email img, .form-digite-mensagem img {
border: none;

display: flex;
align-items: center;

position: absolute;

}

#digite-mensagem {
  height: 126px;
}

#botao-enviar {
  
  font-family: var(--fontFamily-page);
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;  

  position: absolute;
  width: 151px;
  height: 45px;
  
  background: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);
  border-radius: 16px;
}
 
footer{
  font-family: var(--fontFamily-page);
  font-size: var(--fontSize-headerText);
  font-weight: 600px;

  color: #FFFFFF;
  background: #312D64;

  display: flex;
  justify-content: center;

  padding: 3.2rem 1.6rem;

}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }  
}

@media (min-width:700px) {

  
 :root{
  --fontSize-pageText: 1.21131rem;
  --fontSize-headerText: 2.0rem;
  --fontSize-h1: 3.64294rem;
  --fontSize-h2: 2.20638rem;
  --fontSize-subtitle: ;
   
 }

 body {
  max-width: 144rem;
  max-height: 84rem;
  background: black;
  
  display: grid;
  justify-content: center;  

 } 

header {
  width: 90rem;
  height: 52.25rem;

}
 .page-1 {
  width: 90rem;
  height: 52.25rem;

  display: grid;
  grid-template-areas: 
   "A C" 
   "B C" ;
  
  justify-content: center;   
  align-items: end;
  justify-items: start;


  padding: 0rem 0rem 5rem 5rem;
  
  background: #F9F4FB;     
  
 }

 .astronaut img {
  width: 44.96rem;
  height: 45.5rem;  
 }

 .headerText, h1 {
  font-size: var(--fontSize-h1);
 }
 
 .headerText, p {
  display: grid;
  justify-items: start;
  font-size: var(--fontSize-headerText)  
 }

 .arrow, img {
   height: 6.5625rem;
 }

#yellowmonn {
  width: 6.0625rem;
  height: 6.0625rem;
}

.bluemoon, .pinkmoon {
  width: 6.0625rem;
  height: 6.0625rem;
}

 .page-1 div:nth-child(1) {
  grid-area: C;
  
 }

  .page-1 div:nth-child(2) {
  grid-area: A;
 }

 .page-1 div:nth-child(3) {
  grid-area: B;
  padding-bottom: 2rem;
  }
 
  .page-2 {
  width: 90rem;

  font-size: var(--fontSize-pageText);

  display: grid;
  grid-template-columns: 23rem 23rem 23rem; 
  justify-content: space-between;
  padding: 4rem 7rem 0rem 7rem; 

  }
 
  .text {
    margin-right: 0rem;
}

  .sectionText {
    font-size: var(--fontSize-h2);
    margin-bottom: 1.5rem;
  }
  
  .naopare {
    margin: 0rem 0rem 5.0rem;
    padding: 2.6rem;  
    
    width: 22.875rem;
    height: 32rem;
   
  } 
  
  .sovolta {
    padding: 2.6rem;
    margin: 0rem 0rem 5.0rem 0rem;  
    
    width: 22.875rem;
    height: 32rem;
   
  }
  
  .sigaseuritmo {
    padding: 2.6rem;
    margin: 0rem 0rem 5.0rem;

    width: 22.875rem;
    height: 32rem;
    
    
  }
  
  .background-image {    
    display: flex;
    width: 40.25rem;
    height: 38.25rem;
  }

  .page-3 {
    width: 90rem;
    padding-top: 6rem;
    height: 38.25rem;

    display: flex;
    flex-direction: column;
    align-items: center;   
  }

  .page-3-div {
    height: 70.5rem;
    padding-top: 0rem;
    display: flex;
    width: 100%;
    justify-content: center;
}

footer {
  width: 90rem;
}

 
}
  