body {
  margin: 0;
  border: 1px solid red;
  background-color:#2C2B3D;
  color: #7D7987;  
}

nav {
  border: 1px solid red;
  font-family: 'JetBrains Mono', monospace;
  display: flex;
  justify-content: space-between;  
  
  color:#7D7987 ;       
}

#r {
  font-family: 'JetBrains Mono', monospace;
  font-size: 24px;
  text-align: center;
}

#padlock-top{
  height: 21px;
  width: 18.05555534362793px;
  left: 2px;
  top: 0px;
  border-radius: nullpx;

}

 main {
  width: 1100px;
  margin: 0 auto;
  padding-top: 65px;
}

#texto #img1 {
  display: flex;
  justify-content: space-between;

}

footer {
  font-family:'JetBrains Mono', monospace;
  color: #FFFFFF;


  display: flex;
  justify-content: center;

}