body {
  margin: 0;
  border: 1px solid red;
  background-color:#2C2B3D;
  color: #7D7987;
  
}

nav {
  border: 1px solid red;
  font-family: 'JetBrains Mono', monospace;
  color:#7D7987 ;
    
}

 section .img1 {
  font-family: 'Open Sans', sans-serif;
  justify-content:space-between;

}

.page {
  margin: 1100px;
  margin: 0 auto;
  padding-top: 65px;
  
}

.footer {
  font-family:'JetBrains Mono', monospace;
  color: #FFFFFF;
  text-align: center;
}